body {
    margin:0;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #6c7279;
    
    
}
*,
*:before,
*:after
{
    box-sizing: border-box;
}
/*Container*/
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    
}



/*header//////////////////////////*/
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100px;
    
}
.header__iner{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 35px 0;
    align-items: center;
}


/*nav
//////////////////////////*/
.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700px;
    text-transform: uppercase;
    
}
.nav_link{
    margin-left: 40px;
    color: #000;
    text-decoration: none;
    opacity: .75;
    transition: opacity .2s;
    
    
    
    
}
.nav_link:first-child{
    margin-left: 0px;
}
.nav_link:hover{
    
    opacity: 1;
}


/*/Features
//////////////////////////*/ 



.features{
    width: 1065px;
    display: flex;
    flex-wrap: wrap;
    margin:150px 0 ;
    
}
.features_item{
    width: 355px;
    height: 407px;
    padding: 15px 25px;
    
    text-align: center;
    
    position: relative;
    
    
  
    
}
.features_item:hover .features_content{
    opacity: 1;
}
.features_icon{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}






    
.features_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 355px;
    height: 407px;
    background-color:rgba(169,169,169,.5) ;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
}



.features_title{
     margin-bottom: 15px;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.features_text{
    font-size: 20px;
    font-weight: bold;
    color:#000 ;
    
    
}
features_text2{
    font-size: 30px;
    font-weight: bold;
    color:#fff ;
    
    
}


.btn{
     display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 2px;
    
    color:#000;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear;
    
}

.btn--red{
     background-color:#fff;
}

.btn--red:hover{
    background-color:#A9A9A9;
    
}